<section class="advantages-of-bags">
  <div class="container">
    <div class="advantages-section">
    <p class="advantages-label">Переваги</p>
    <h2 class="advantages-title">Чому обрати нас?</h2>
    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    </div>
  
  <ul class="advantages-list">
  <li class="advantages-item">
    <div class="image-container">
      <picture>
        <source 
          media="(min-width: 1440px)"
          srcset="
            ../img/advantages/desktop/advantages-1.png 1x,
            ../img/advantages/desktop/advantages-1@2x.png 2x
          "
        >
        <source 
          media="(min-width: 768px)"
          srcset="
            ../img/advantages/tablet/advantages-1.png 1x,
            ../img/advantages/tablet/advantages-1@2x.png 2x
          "
        >
        <img 
          src="../img/advantages/mobile/advantages-1.png"
          srcset="../img/advantages/mobile/advantages-1@2x.png 2x"
          alt="Перевага 1"
        >
      </picture>
    </div>

    <div class="content-info">
      <h3 class="advantage-quality">Стійкість та екологічність</h3>
      <p class="advantage-description">
        Виготовлені з органічної бавовни та переробленого пластику.
      </p>
    </div>
  </li>

  <li class="advantages-item">
    <div class="image-container">
      <picture>
        <source 
          media="(min-width: 1440px)"
          srcset="
            ../img/advantages/desktop/advantages-2.png 1x,
            ../img/advantages/desktop/advantages-2@2x.png 2x
          "
        >
        <source 
          media="(min-width: 768px)"
          srcset="
            ../img/advantages/tablet/advantages-2.png 1x,
            ../img/advantages/tablet/advantages-2@2x.png 2x
          "
        >
        <img 
          src="../img/advantages/mobile/advantages-2.png"
          srcset="../img/advantages/mobile/advantages-2@2x.png 2x"
          alt="Перевага 2"
        >
      </picture>
    </div>

    <div class="content-info">
      <h3 class="advantage-quality">Міцність і довговічність</h3>
      <p>Наші сумки мають посилені шви для тривалого використання.</p>
    </div>
  </li>

  <li class="advantages-item wide-item">
    <div class="image-container">
      <picture>
        <source 
          media="(min-width: 1440px)"
          srcset="
            ../img/advantages/desktop/advantages-3.png 1x,
            ../img/advantages/desktop/advantages-3@2x.png 2x
          "
        >
        <source 
          media="(min-width: 768px)"
          srcset="
            ../img/advantages/tablet/advantages-3.png 1x,
            ../img/advantages/tablet/advantages-3@2x.png 2x
          "
        >
        <img 
          src="../img/advantages/mobile/advantages-3.png"
          srcset="../img/advantages/mobile/advantages-3@2x.png 2x"
          alt="Перевага 3"
        >
      </picture>
    </div>

    <div class="content-info">
      <h3 class="advantage-quality">Стильний та сучасний дизайн</h3>
      <p>Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
    </div>
  </li>

</ul>
  </div>
</section>
