<section class="feedbacks">
  <div class="container">
    <h2 class="feedbacks-title">
       Що говорять наші клієнти</h2>

    <ul class="feedbacks-list">
       <li class="feedbacks-item">
          <ul class="feedbacks-list-stars">
            <li> 
              <svg class="feedbacks-icon-star" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            </li>

            <li>
              <svg class="feedbacks-icon-star" width="24" height="24">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>

            <li>
              <svg class="feedbacks-icon-star" width="24" height="24">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>

            <li>
              <svg class="feedbacks-icon-star" width="24" height="24">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>

            <li>
              <svg class="feedbacks-icon-star" width="24" height="24">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
               <p class="feedbacks-text-content">
                Сумка дуже зручна та стильна, використовую щодня!
               </p>
               <p class="feedbacks-name">
                Анна
               </p>
          </li>

       <li class="feedbacks-item">
            <ul class="feedbacks-list-stars">
              <li>
                <svg class="feedbacks-icon-star" width="24" height="24">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
          
              <li>
                <svg class="feedbacks-icon-star" width="24" height="24">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
          
              <li>
                <svg class="feedbacks-icon-star" width="24" height="24">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
          
              <li>
                <svg class="feedbacks-icon-star" width="24" height="24">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
          
              <li>
                <svg class="feedbacks-icon-star" width="24" height="24">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="feedbacks-text-content">
              Відмінна якість матеріалів, приємно здивована.</p>
            <p class="feedbacks-name">
              Ігор
            </p>
       </li>

       <li class="feedbacks-item">
          <ul class="feedbacks-list-stars">
            <li>
              <svg class="feedbacks-icon-star" width="24" height="24">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          
            <li>
              <svg class="feedbacks-icon-star" width="24" height="24">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          
            <li>
              <svg class="feedbacks-icon-star" width="24" height="24">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          
            <li>
              <svg class="feedbacks-icon-star" width="24" height="24">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          
            <li>
              <svg class="feedbacks-icon-star" width="24" height="24">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="feedbacks-text-content">
            Сумка повністю відповідає опису, рекомендую! </p>
          <p class="feedbacks-name">
            Олена
          </p>
       </li>

       <li class="feedbacks-item">
            <ul class="feedbacks-list-stars">
              <li>
                <svg class="feedbacks-icon-star" width="24" height="24">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
            
              <li>
                <svg class="feedbacks-icon-star" width="24" height="24">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
            
              <li>
                <svg class="feedbacks-icon-star" width="24" height="24">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
            
              <li>
                <svg class="feedbacks-icon-star" width="24" height="24">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
            
              <li>
                <svg class="feedbacks-icon-star" width="24" height="24">
                  <use href="./img/icons.svg#icon-no-star"></use>
                </svg>
              </li>
            </ul>
            <p class="feedbacks-text-content">
              Швидка доставка та гарне обслуговування. </p>
            <p class="feedbacks-name">
              Сергій
            </p>
       </li>
    </ul>
  </div>
</section>
