<footer class="footer">
  <div class="footer-inner">
    <!-- LOGO -->
    <a href="#" class="footer-logo">
      <img src="/img/logo.svg" alt="EcoTote Logo" />
    </a>

    <!-- NAVIGATION -->
    <nav class="footer-nav">
      <a href="#about">Про нас</a>
      <a href="#advantages-of-bags">Переваги</a>
      <a href="#assortment">Асортимент</a>
      <a href="#gallery">Галерея</a>
      <a href="#feedbacks">Відгуки</a>
      <a href="#support">Контакти</a>
    </nav>

    <!-- SOCIAL ICONS -->
    <div class="footer-socials">
      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="icon">
          <use href="/img/icons.svg#icon-instagram"></use>
        </svg>
      </a>

      <a
        href="https://www.linkedin.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="icon">
          <use href="/img/icons.svg#icon-linked-in"></use>
        </svg>
      </a>

      <a
        href="https://www.youtube.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="icon">
          <use href="/img/icons.svg#icon-you-tube"></use>
        </svg>
      </a>
    </div>

    <div class="footer-divider"></div>
  </div>

  <div class="footer-contact-wrapper">
    <!-- CONTACT INFO -->
    <address class="footer-contact">
      <a href="tel:+380999091122">+38 (099) 909 11 22</a>
      <a href="mailto:hello@ecotote.com">hello@ecotote.com</a>
    </address>

    <!-- COPYRIGHT -->
    <p class="footer-rights">© 2025 EcoTote. Всі права захищені.</p>
  </div>
</footer>
