<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-subtitle">EcoTotes у повсякденному житті</p>

    <div class="gallery-list">
      <div class="gallery-item-one gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery-1.png    1x,
              /img/gallery/desktop/gallery-1@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery-1.png    1x,
              /img/gallery/tablet/gallery-1@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/mobile/gallery-1.png    1x,
              /img/gallery/mobile/gallery-1@2x.png 2x
            "
          />
          <img
            src="/img/gallery/desktop/gallery-1.png"
            alt="An eco tote placed on a chair"
          />
        </picture>
      </div>

      <div class="gallery-item-two gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery-2.png    1x,
              /img/gallery/desktop/gallery-2@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery-2.png    1x,
              /img/gallery/tablet/gallery-2@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/mobile/gallery-2.png    1x,
              /img/gallery/mobile/gallery-2@2x.png 2x
            "
          />
          <img src="/img/gallery/desktop/gallery-2.png" alt="A city scene" />
        </picture>
      </div>

      <div class="gallery-item-three gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery-3.png    1x,
              /img/gallery/desktop/gallery-3@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery-3.png    1x,
              /img/gallery/tablet/gallery-3@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/mobile/gallery-3.png    1x,
              /img/gallery/mobile/gallery-3@2x.png 2x
            "
          />
          <img
            src="/img/gallery/desktop/gallery-3.png"
            alt="A person walking"
          />
        </picture>
      </div>

      <div class="gallery-item-four gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery-4.png    1x,
              /img/gallery/desktop/gallery-4@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery-4.png    1x,
              /img/gallery/tablet/gallery-4@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/mobile/gallery-4.png    1x,
              /img/gallery/mobile/gallery-4@2x.png 2x
            "
          />
          <img src="/img/gallery/desktop/gallery-4.png" alt="A young woman" />
        </picture>
      </div>
    </div>
  </div>
</section>
