<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-subtitle">EcoTotes у повсякденному житті</p>

    <ul class="gallery-list">
      <li class="gallery-item-one gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery-1.webp    1x,
              /img/gallery/desktop/gallery-1@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery-1.webp    1x,
              /img/gallery/tablet/gallery-1@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/mobile/gallery-1.webp    1x,
              /img/gallery/mobile/gallery-1@2x.webp 2x
            "
          />
          <img
            src="/img/gallery/desktop/gallery-1.webp"
            alt="An eco tote placed on a chair"
            width="421"
            height="421"
          />
        </picture>
      </li>

      <li class="gallery-item-two gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery-2.webp    1x,
              /img/gallery/desktop/gallery-2@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery-2.webp    1x,
              /img/gallery/tablet/gallery-2@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/mobile/gallery-2.webp    1x,
              /img/gallery/mobile/gallery-2@2x.webp 2x
            "
          />
          <img
            src="/img/gallery/desktop/gallery-2.webp"
            alt="A city scene"
            width="421"
            height="865"
          />
        </picture>
      </li>

      <li class="gallery-item-three gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery-3.webp    1x,
              /img/gallery/desktop/gallery-3@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery-3.webp    1x,
              /img/gallery/tablet/gallery-3@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/mobile/gallery-3.webp    1x,
              /img/gallery/mobile/gallery-3@2x.webp 2x
            "
          />
          <img
            src="/img/gallery/desktop/gallery-3.webp"
            alt="A person walking"
            width="421"
            height="865"
          />
        </picture>
      </li>

      <li class="gallery-item-four gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desktop/gallery-4.webp    1x,
              /img/gallery/desktop/gallery-4@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/tablet/gallery-4.webp    1x,
              /img/gallery/tablet/gallery-4@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/mobile/gallery-4.webp    1x,
              /img/gallery/mobile/gallery-4@2x.webp 2x
            "
          />
          <img
            src="/img/gallery/desktop/gallery-4.webp"
            alt="A young woman"
            width="421"
            height="421"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
