<header class="header">
  <div class="header-container">
    <nav class="header-nav">
      <a href="/index.html" class="header-logo">
        <svg class="header-logo-icon" width="108" height="41">
          <use href="/img/logo.svg"></use>
        </svg>
      </a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#about" class="header-menu-link">Про нас</a>
        </li>
        <li class="header-menu-item">
          <a href="#advantages" class="header-menu-link">Переваги</a>
        </li>
        <li class="header-menu-item">
          <a href="#assortment" class="header-menu-link">Асортимент</a>
        </li>
        <li class="header-menu-item">
          <a href="#gallery" class="header-menu-link">Галерея</a>
        </li>
        <li class="header-menu-item">
          <a href="#feedbacks" class="header-menu-link">Відгуки</a>
        </li>
        <li class="header-menu-item">
          <a href="#support" class="header-menu-link">Контакти</a>
        </li>
      </ul>

      <address class="header-contacts">
        <a class="header-contacts-phone" href="tel:+380999091122"
          >+38 (099) 909 11 22
        </a>
        <a class="header-contacts-mail" href="mailto:hello@ecotote.com"
          >hello@ecotote.com
        </a>
      </address>

      <button class="header-burger" type="button">
        <svg class="header-burger-icon" width="32" height="32">
          <use href="/img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>

  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <div class="mobile-menu-header">
        <a
          href="/index.html"
          class="mobile-menu-logo"
          aria-label="EcoTote - на головну"
        >
          <svg width="108" height="41" aria-hidden="true">
            <use href="../img/logo.svg"></use>
          </svg>
        </a>

        <button
          class="mobile-menu-close"
          type="button"
          aria-label="Закрити
        меню"
          title="Закрити меню"
        >
          <svg width="16" height="16" aria-hidden="true">
            <use href="../img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li><a class="mobile-menu-link" href="#about">Про нас</a></li>
          <li><a class="mobile-menu-link" href="#advantages">Переваги</a></li>
          <li><a class="mobile-menu-link" href="#assortment">Асортимент</a></li>
          <li><a class="mobile-menu-link" href="#gallery">Галерея</a></li>
          <li><a class="mobile-menu-link" href="#feedbacks">Відгуки</a></li>
          <li><a class="mobile-menu-link" href="#support">Контакти</a></li>
        </ul>

        <address class="mobile-menu-address">
          <ul>
            <li>
              <a class="mobile-menu-phone" href="tel:+380999091122"
                >+38 (099) 909 11 22</a
              >
            </li>
            <li>
              <a class="mobile-menu-email" href="mailto:hello@ecotote.com"
                >hello@ecotote.com</a
              >
            </li>
          </ul>
        </address>
      </nav>
    </div>
  </div>
</header>
