<div class="menu" data-menu>
  <div class="menu-container">
    <a href="/index.html" class="menu-logo">
      <img src="/img/logo.svg" alt="EcoTote Logo" width="84" height="36" />
    </a>

    <button
      type="button"
      class="menu-close"
      aria-label="Закрити меню"
      data-menu-close
    >
      <svg class="menu-close-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="menu-nav">
      <a href="#about" class="menu-nav-link">Про нас</a>
      <a href="#advantages-of-bags" class="menu-nav-link">Переваги</a>
      <a href="#assortment" class="menu-nav-link">Асортимент</a>
      <a href="#gallery" class="menu-nav-link">Галерея</a>
      <a href="#feedbacks" class="menu-nav-link">Відгуки</a>
      <a href="#support" class="menu-nav-link">Контакти</a>
    </nav>

    <address class="menu-contact">
      <a href="tel:+380999091122" class="menu-contact-link"
        >+38 (099) 909 11 22</a
      >
      <a href="mailto:hello@ecotote.com" class="menu-contact-link"
        >hello@ecotote.com</a
      >
    </address>
  </div>
</div>
