<section id="support" class="support">
  <div class="container support-container">
    <div class="support-left">
      <div class="support-info">
        <h2 class="support-title">Залишились питання? Зв'яжіться з нами!</h2>
        <h3 class="support-subtitle">Ми тут, щоб допомогти!</h3>
      </div>

      <form action="#" method="POST" class="support-form">
        <div class="support-field">
          <label class="support-label" for="name">Ім'я</label>
          <input
            class="support-input"
            type="text"
            id="name"
            name="name"
            placeholder="Іван"
            minlength="5"
            maxlength="64"
            required
          />
          <p class="support-error support-error-invalid">Error text</p>
          <p class="support-error support-error-valid">Correct text</p>
        </div>

        <div class="support-field">
          <label class="support-label" for="email">Електронна пошта</label>
          <input
            class="support-input"
            type="email"
            id="email"
            name="email"
            placeholder="hello@ecotote.com"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            required
          />
          <p class="support-error support-error-invalid">Error text</p>
          <p class="support-error support-error-valid">Correct text</p>
        </div>

        <div class="support-field">
          <label class="support-label" for="message">Повідомлення</label>
          <textarea
            class="support-textarea"
            id="message"
            name="message"
            maxlength="500"
            placeholder="Введіть своє повідомлення..."
          ></textarea>
        </div>

        <button type="submit" class="support-button">Надіслати</button>
      </form>
    </div>

    <div class="support-image">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/support/desktop/support.png    1x,
            /img/support/desktop/support@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/support/tablet/support.png    1x,
            /img/support/tablet/support@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/support/mobile/support.png    1x,
            /img/support/mobile/support@2x.png 2x
          "
        />
        <img
          class="support-img"
          src="/img/support/mobile/support.png"
          alt="Еко сумка на столі"
        />
      </picture>
    </div>
  </div>
</section>
