/* About section styles */

.about {
  background-image: url('../img/about/mobile/about.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  min-height: 400px;
  display: flex;
  align-items: center;
}

.about-content {
  text-align: center;
  color: #ffffff;
}

.about-label {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.about-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
}

.about-description {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 280px;
  margin: 0 auto;
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .about {
    background-image: url('../img/about/tablet/about.jpg');
    padding: 80px 0;
    min-height: 500px;
  }

  .about-label {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .about-title {
    font-size: 40px;
    margin-bottom: 32px;
  }

  .about-description {
    font-size: 16px;
    max-width: 500px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1400px) {
  .about {
    background-image: url('../img/about/desktop/about.jpg');
    padding: 100px 0;
    min-height: 600px;
  }

  .about-label {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .about-title {
    font-size: 56px;
    margin-bottom: 40px;
  }

  .about-description {
    font-size: 18px;
    max-width: 700px;
  }
}

/* Retina display support */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .about {
    background-image: url('../img/about/mobile/about@2x.jpg');
  }

  @media only screen and (min-width: 768px) {
    .about {
      background-image: url('../img/about/tablet/about@2x.jpg');
    }
  }

  @media only screen and (min-width: 1400px) {
    .about {
      background-image: url('../img/about/desktop/about@2x.jpg');
    }
  }
}
