/* Advantages section styles */

.advantages-of-bags {
  padding: 32px 0;
}

.advantages-section {
  width: 100%;
  height: 100%;
  margin-bottom: 48px;
}

.advantages-label {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.advantages-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

.advantages-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 48px;
  padding: 0;
  box-sizing: border-box;
  max-width: 320px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.image-container {
  width: 100%;
  max-width: 288px;
  border-radius: 32px;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: 8px;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  object-fit: cover;
  display: block;
}

.content-info {
  width: 100%;
  text-align: left;
}

.advantage-quality {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
}

.advantage-description {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

/* Tablet styles */

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .advantages-of-bags {
    padding: 64px 0;
  }
  .advantages-section {
    width: 704px;
    height: 100%;
    margin: 0 auto 32px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 704px;
  }

  .advantages-item {
    width: calc((100% - 32px) / 2);
    text-align: left;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .wide-item {
    width: 100%;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
  }

  .advantages-item .image-container {
    width: 100%;
    height: 201px;
    max-width: none;
    overflow: hidden;
    margin-bottom: 32px;
  }

  .wide-item .image-container {
    width: 100%;
    height: 416px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 32px;
    margin-bottom: 32px;
  }

  .advantages-label {
    margin-bottom: 16px;
  }

  .advantages-title {
    margin-bottom: 24px;
  }

  .advantage-quality {
    margin-bottom: 8px;
    width: 340px;
  }

  .advantage-quality-wide {
    width: 100%;
  }

  .quality-title {
    margin-bottom: 42px;
  }

  .advantages-text {
    font-size: 18px;
  }
}

/* Desktop styles */

@media only screen and (min-width: 1440px) {
  .advantages-of-bags {
    padding: 64px 0;
  }

  .advantages-section {
    max-width: 704px;
    text-align: left;
  }

  .advantages-label {
    margin-bottom: 16px;
  }

  .advantages-title {
    width: 768px;
    font-size: 48px;
    margin-bottom: 24px;
  }
  .advantages-text {
    width: 768px;
    margin-bottom: 80px;
  }

  .advantage-quality {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .advantages-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    max-width: 1312px;
  }

  .advantages-item {
    width: calc((100% - 48px) / 3);
  }

  .advantages-item .image-container {
    width: 100%;
    height: 249px;
    max-width: none;
    flex-shrink: 0;
    margin-bottom: 32px;
  }

  .advantages-item .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
