/* Assortment section styles */

.assortment {
    padding: 32px 0;
}

.assortment-title {
    font-weight: 700;
    font-size: 36px;

    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    margin-bottom: 32px;

    font-family: "Comfortaa", sans-serif;
}

.assortment-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.assortment-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.assortment-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 288px;
}

.assortment-list-item-title {
    font-weight: 600;
    font-size: 18px;

    line-height: 1.6;
    text-align: center;
    color: #030a06;

    font-family: "Fira Sans", sans-serif;
}

.assortment-list-item-paragraph {
    font-weight: 400;
    font-size: 14px;

    line-height: 1.6;
    text-align: center;
    color: #030a06;
    margin-bottom: 8px;

    font-family: "Fira Sans", sans-serif;
}

.assortment-list-item-price {
    font-weight: 600;
    font-size: 20px;

    line-height: 1.6;
    text-align: center;
    color: #030a06;

    font-family: "Fira Sans", sans-serif;
}

.assortment-list-item-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #030a06;
    border-radius: 6px;
    padding: 8px 20px;
    width: 288px;
    height: 40px;
    background-color: transparent;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;

    font-family: "Fira Sans", sans-serif;
}

.assortment-list-item-button:hover,
.assortment-list-item-button:focus {
    opacity: 0.5;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.assortment-list-item-button:active {
    border: 1px solid #113916;
    color: #113916;
    opacity: 0.6;
}


@media (min-width: 768px) {
    .assortment {
        padding: 64px 0;
    }

    .assortment-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }

    .assortment-list-item{
        max-width: 340px;
        max-height: 593px;
    }

    .assortment-container{
        margin: 0 auto;
    }

    .assortment-list-item-paragraph{
        min-width: 340px;
    }

    .assortment-price{
        margin-bottom: 22px;
    }

    .assortment-list-item-button{
        width: 340px;
    }
}

@media (min-width: 1440px){
    .assortment-container {
        max-width: 1440px;
    }

    .assortment-title {
        font-size: 48px;
    }

    .assortment-list {
        row-gap: 64px;
        column-gap: 24px;
    }

    .assortment-list-item {
        max-width: 310px;
        max-height: 557px;
    }

    .assortment-list-item-paragraph {
        min-width: 310px;
    }

    .assortment-list-item-button {
        width: 310px;
    }

    .assortment-container {
        margin: 0 auto;
    }

    .assortment-price {
        margin-bottom: 0;
    }

    .assortment-list-item-desk{
        gap: 27px;
    }
}