.gallery {
    padding: 32px 0;
}

.gallery-title {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    margin-bottom: 16px;
}

.gallery-subtitle {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #030a06;
    margin-bottom: 32px;
}

.gallery-list {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery-item {
    border-radius: 32px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media only screen and (min-width: 768px) {
    .gallery {
        padding: 64px 0;
    }

    .gallery-title {
        font-size: 36px;
        margin-bottom: 24px;
    }

    .gallery-list {
        position: relative;
        width: 704px;
        min-height: 1062px;
        margin: 0 auto;
        gap: 0;
        display: block;
    }

    .gallery-item {
        position: absolute;
        width: 340px;
    }

    .gallery-item-one {
        bottom: 0;
        right: 0;
        height: 340px;
    }

    .gallery-item-two {
        top: 0;
        right: 0;
        height: 700px;
    }

    .gallery-item-three {
        bottom: 0;
        left: 0;
        height: 700px;
    }

    .gallery-item-four {
        top: 0;
        left: 0;
        height: 340px;
    }
}

@media only screen and (min-width: 1440px) {
    .gallery-title {
        font-size: 48px;
    }

    .gallery-list {
        position: relative;
        width: 1312px;
        min-height: 865px;
        margin: 0 auto;
        gap: 0;
        display: block;
    }

    .gallery-item {
        position: absolute;
    }

    .gallery-item-one {
        bottom: 0;
        right: 891px;
        width: 421px;
        height: 421px;
    }

    .gallery-item-two {
        top: 0;
        right: 446px;
        width: 421px;
        height: 865px;
    }

    .gallery-item-three {
        bottom: 0;
        left: 891px;
        width: 421px;
        height: 865px;
    }

    .gallery-item-four {
        top: 0;
        left: 0;
        width: 421px;
        height: 421px;
    }
}