/* Hero section styles */

.hero {
  padding: 64px 0px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}
 .hero-text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
 }

 .hero-button {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid #030a06;
  border-radius: 6px;
  width: 288px;
  height: 50px;
  background-color: #030a06;
  margin-bottom: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .hero-image {
  border-radius: 40px;
 }

.hero-button:hover,
.hero-button:focus {
  opacity: 0.5;
}

.hero-button:active {
  border: 1px solid #113916;
  background-color: #113916;
  opacity: 0.6;
}

.hero-button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

 @media screen and (min-width: 768px) {
    .hero {
      padding: 32px 0px 64px 0px;
    }

    .hero-content {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
    }

    .hero-title {
      width: 340px;
      margin-right: 24px;
      margin-bottom: 0px;
    }

    .hero-text {
      font-size: 18px;
      width: 340px;
      margin-bottom: 32px;
    }

    .hero-button {
      width: 148px;
      height: 50px;
      margin-bottom: 0px;
    }

    .hero-content-buy {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    
    .hero-image {
      width: 704px;
      height: 267px;
    }
  }

 @media screen and (min-width: 1440px) {
  .hero {
      padding: 32px 0px 64px 0px;
    }

    .hero-title {
      min-width: 640px;
      font-size: 56px;
      margin-right: 32px;
    }

    .hero-text {
      width: 640px;
    }

  .hero-image {
    width: 1312px;
    height: 498px;
  }
}