/* Support section styles */
.container-info {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 32px;
}
.head-text {
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 0.01em;
}
.abzaz-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
}
.contact-form {
    display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: 488px;
}
.contact-form-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #030A06;
        padding-top: 8px;
}
.contact-form-chek {
    flex-direction: row;
    gap: 8px;
border: 1px solid rgba(3, 10, 6, 0.15);
    background-color: rgba(3, 10, 6, 0.15);
        border-radius: 6px;
        width: 100%;
        height: 42px;
        margin-bottom: 24px
}
.contact-form-textarea {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.60;
    border: 1px solid rgba(3, 10, 6, 0.15);
     border-radius: 6px;
     padding: 12px;
    width: 100%;
  height: 180px;
    color: rgba(3, 10, 6, 0.6);
    background-color: rgba(3, 10, 6, 0.15);
   margin-bottom: 24px
}
.contact-form-textarea::placeholder {

}

.visualli-hidden:checked + .contact-form-chek > .contact-form-textarea {
       
    }
.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    background: #030a06;
    border: 1px solid #030a06;
    border-radius: 6px;
    padding-block: 12px;
    padding-inline: 24px;
    width: 288px;
    height: 50px;
    color: #fff;
    margin-bottom: 24px;
}
.submit-button:hover,
.submit-button:focus {
    background-color: #030a06;
    opacity: 0.5;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1400px;
        padding: 0 64px;
    }
}