/* SECTION */
.support {
    padding: 64px 0;
}

/* LEFT COLUMN */
.support-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* TITLE */
.support-title {
    font-size: 36px;
    font-weight: 700;
    font-family: "Comfortaa",  sans-serif;
    line-height: 1.2;
    margin-bottom: 24px;
}

.support-subtitle {
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #030a06;
    
}

/* FORM */
.support-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* FIELD BLOCK */
.support-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* LABEL */
.support-label {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.60;
    color: #030a06;
}

/* INPUTS + TEXTAREA */
.support-input,
.support-textarea {
    width: 100%;
    padding: 12px 8px;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid rgba(3, 10, 6, 0.15);
    background: rgba(3, 10, 6, 0.05);
    transition: 0.25s ease;
}

.support-input::placeholder,
.support-textarea::placeholder {
    color: rgba(3, 10, 6, 0.4);
}

/* HOVER + FOCUS */
.support-input:hover,
.support-textarea:hover,
.support-input:focus,
.support-textarea:focus {
    border-color: #030a06;
    outline: none;
}

/* ERROR STATE */
/*.support-input--error,
.support-textarea--error {
    border-color: #d64040;
    background-color: #fff5f5;
}

.support-error {
    font-size: 12px;
    color: #d64040;
    height: 12px;
}
*/
/* BUTTON */
.support-button {
    background-color: #030a06;
    color: #fff;
    padding: 14px 24px;
    border-radius: 6px;
    font-size: 16px;
    width: 288px;
    height: 50px;
    transition: 0.25s ease;
    border: none;
}

.support-button:hover,
.support-button:focus {
    background-color: #030a06;
        opacity: 0.6;
}

.support-button:active {
    background-color: #113916;
    transform: scale(0.98);
}

.support-button:disabled {
    background-color: #dcdcdc;
    color: #999;
}

/* IMAGE */
.support-image {
    margin-top: 32px;
}

.support-photo {
    width: 100%;
}

/* TABLET */
@media (min-width: 768px) {
    .support-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .support-title {
        padding-right: 236px;
    }
        .support-image {
            margin-top: 0;
        }
}

/* DESKTOP */
@media (min-width: 1440px) {
    .support-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }

    .support-image {
        flex: 0 0 50%;
    }

    .support-title {
        padding-right: 1px;
        font-size: 48px;
    }
        .support-form {
            padding-bottom: 78px;
        }
                .support-image picture,
                .support-image img {
                    width: 100%;
                    height: 100%;
                }
                
}